<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Credential</h1>

<f:flashMessages />

<table  class="tx_ews" >
	<tr>
		<th><f:translate key="tx_ews_domain_model_credential.username" /></th>
		<th><f:translate key="tx_ews_domain_model_credential.exchange_username" /></th>
		<th><f:translate key="tx_ews_domain_model_credential.exchange_password" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{credentials}" as="credential">
		<tr>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.username}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.exchangeUsername}</f:link.action></td>
			<td><f:link.action action="show" arguments="{credential : credential}"> {credential.exchangePassword}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{credential : credential}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{credential : credential}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Credential</f:link.action>
</f:section>
</html>